.nftmint-section {
  background-color: #f3f3f3;
}
.nftmint-box {
  padding: 80px 0 100px 0;
}
.nftmint-title {
  padding-bottom: 60px;

  color: #030303;
  border-bottom: 2px solid #030303;
}
.nftmint-list {
  padding-top: 60px;
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nftmint-list {
    grid-template-columns: 1fr 1fr;
  }
}
