a {
  text-decoration: none;
}
a:hover,
a:focus {
  opacity: 0.8;
  transition: opacity 0.4s;
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s;
}
p {
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;

  color: #f3f3f3;
}
h2 {
  font-style: italic;
  font-weight: 800;
  font-size: 86px;
  line-height: 104px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;

  color: #f3f3f3;
}
img {
  display: block;
  max-width: 100%;
}
